.vid1{  position: absolute;
  padding-top: 50px;
  padding-left: 0px;
}

.vid2{  position: relative;
padding-top: 20px;
padding-left: 15%;

}

.vid3{  position: absolute;
  padding-left: 710px;
  padding-top:50px;
}

.vid4{  position: absolute;
  padding-left: 1075px;
  padding-top:50px;
}

.howcar{
  position: absolute;
  margin-left: 20px;
  padding-left: 280px;
}

.breakvid{
  position:absolute;
  margin-left: 240px;
  padding-left: 900px;

}
.battery{
  position:absolute;
  margin-left: 240px;
  padding-left: 900px;
  padding-top: 220px;
}

.playlist{
  position:absolute;
  margin-left: 240px;
  padding-left: 910px;
  padding-top: 420px;
}
